<form
action="{{post.get_absolute_url}}"
method="post"
id="commentform"
class="comment-form"
novalidate=""
>
<p class="comment-notes">
  <span id="email-notes"
    >Your email address will not be published.</span
  >
  Required fields are marked
  <span class="required">*</span>
</p>
<p class="comment-field">
  <i class="fas fa-user"></i>
  {% for error in comment_form.name.errors %}
  <div style="color: #c5015f;">{{ error }}</div>
  {% endfor %}
  {{comment_form.name}}
</p>
<p class="comment-field">
  <i class="fas fa-envelope"></i>
  {% for error in comment_form.email.errors %}
      <div style="color: #c5015f;">{{ error }}</div>
  {% endfor %}
  {{comment_form.email}}
</p>
<p class="comment-form-comment">
  <label for="comment">Comment</label>
  {% for error in comment_form.body.errors %}
  <div style="color: #c5015f;">{{ error }}</div>
  {% endfor %}
  {{ comment_form.body}}
</p>
{% csrf_token %}
<p class="form-submit">
  <input
    name="submit"
    type="submit"
    id="submit"
    class="submit"
    value="Post Comment"
  />
  {% comment %} <input
    type="hidden"
    name="comment_post_ID"
    value="2112"
    id="comment_post_ID"
  />
  <input
    type="hidden"
    name="comment_parent"
    id="comment_parent"
    value="0"
  /> {% endcomment %}
</p>
</form>